<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWSE ETF股市資訊</title>
    <!-- 引用 bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

</head>

<!-- 網頁內容顯示區 body -->
<body>
    <p class="title is-1 is-spaced">{{ title }}</p>
    <p class="subtitle is-3">目前時間：{{ date }}</p>
    <div class="buttons">
        <a href="/" class="button is-link is-outlined">回首頁</a>
    </div>
    <span>資料來源：<a href="https://histock.tw/stock/etf.aspx" title="臺灣證券交易所">https://www.twse.com.tw/</a></span>
    <!-- 使用 jinja語法 表格化！！  columns, values -->
    <div class="table-container">
        <table class="table is-narrow">
            <thead>
                <tr>
                    {% for th in columns %}
                    <th class="has-background-grey has-text-centered">
                        {{ th }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for tr in values %}
                <tr>
                    {% for td in tr %}
                    <td class="has-background-grey-lighter has-text-right">
                        {{ td }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>