<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWSE ETF_Chart</title>
    <!-- 引用 bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <!-- 引用 jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- 引用 echarts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.5.0/echarts.min.js"></script>

</head>

<!-- 網頁內容顯示區 body -->
<body>

    <section class="hero is-warning">
        <div class="hero-body">
          <p class="title is-size-1">TWSE ETF圖形繪製</p>
          <p class="subtitle">成交股數前10筆</p>
        </div>
    </section>

    <div class="fixed-grid">
        <div class="grid">
          <div class="cell is-6 is-size-4 has-text-link">股市交易日(民國)：{{ TradingDay }}</div>
          <div class="cell">
            <a href="/" class="button is-link is-outlined">回首頁</a>
          </div>
        </div>
    </div>

    <!-- echarts 設定繪圖區域 DOM 容器，設定寬、高 -->
    <div class="le" id="main" style="width: 50%;height: 500px;"></div>

    <!-- 使用 bulma 設定表格捲軸 -->
    <div class="table-container">
        <!-- 使用 bulma 設定表格css樣式 -->
        <table class="table is-hoverable">
            <thead>            
                <tr>
                    {% for th in columns %}
                    <th class="is-link has-text-centered">
                        {{ th }}
                    </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for tr in values %}
                <tr>
                    {% for td in tr %}
                    <td class="is-info has-text-right">
                        {{ td }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- 第 2 張圖表 -->
    <!-- <div id="main2" style="width: 1500px;height:600px;"></div> -->

    <script type="text/javascript">
        // 使用 $.ajax，動態更新區塊

        $.ajax(
            {
                url:"/twseetf_data",  // 使用route的名稱
                type:"GET",
                dataType:"json",
                success:(data)=>{
                    console.log(data);
                    drawChart1(chart1, data["證券名稱"], data["漲跌價"])  // 成功後，執行的程式碼
                }
            }
        );

        // 第 2 張圖，使用不同的 route 的名稱
        // $.ajax(
        //     {
        //         url:"/twseetf_data2",  // 使用route的名稱
        //         type:"GET",
        //         dataType:"json",
        //         success:(data)=>{
        //             console.log(data);
        //             drawChart2(chart2, data["證券代號"], data["開盤"], data["收盤"], data["最高"], data["最低"])  // 成功後，執行的程式碼
        //         }
        //     }
        // );

        // 使用 JavaScript
        $("h1").css("text-align", "center");
        // 基於準備好的dom，初始化echarts實例
        const chart1 = echarts.init(document.getElementById('main'));  // 取得要繪製圖片的 → 繪圖區域 DOM 容器。使用 2 張圖表，原 var chart1改為 const chart1

        // 第 2 張圖表
        // const chart2 = echarts.init(document.getElementById('main2'));
        
        // 讓圖表隨著視窗放大、縮小
        // window.addEventListener("resize",
        //     () => {
        //         chart1.resize();
        //     }
        // );


        // 使用函式 自定函式名(DOM容器名，x軸，y軸，標題名，圖示名)
        function drawChart1(chart, xdata, ydata, title="漲跌價展示表", name="漲跌價"){

            // 指定圖表的配置項和數據
            var option;

            const labelRight = {normal: {label : {position: 'right'}}};
            option = {
            title: {
                text: title,
                subtext: 'From ExcelHome',
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                type: 'shadow'  // 默認為直線，可選為：'line' | 'shadow'
                }
            },
            grid: {
                top: 80,  // 圖表的上間距
                bottom: 30  // 圖表的下間距
            },
            xAxis: {
                type: 'value',
                position: 'top',  // 圖表y軸顯示的位置 top 上 bottom 下
                splitLine: {
                lineStyle: {
                    type: 'dashed'
                }
                }
            },
            yAxis: {
                type: 'category',
                axisLine: { show: false },
                axisLabel: { show: false },
                axisTick: { show: false },
                splitLine: { show: false },
                data: xdata
            },
            series: [
                {
                name: name,
                type: 'bar',
                stack: 'Total',
                itemStyle : { normal: {
                    color: 'orange',  // 改變線條顏色
                    borderRadius: 5,
                    label : {
                        show: true,
                        position: 'left',
                        formatter: '{b}'
                    }  // label 設定線條的標籤
                }},
                data: ydata
                }
            ]
            };

            // 使用剛才指定的配置項和數據顯示圖表。
            chart.setOption(option);
        }

      </script>

</body>
</html>